<app-header></app-header>
<div class="itemname">
    <h2>MACBOOK PRO</h2>
    </div>
    <hr>
    <div class="picture-container">
        <div class="picture-item">
          <a routerLink="/product">
            <img src="assets/mapro13.png" alt="Image 1">
          </a>
          <a routerLink="/product" class="picture-name">MacBook Pro 13"</a>
          <h2>1299$</h2>
        </div>

        <div class="picture-item">
          <a href="/product">
            <img src="assets/mapro14.png" alt="Image 2">
          </a>
          <a href="/product" class="picture-name">MacBook Pro 14"</a>
          <h2>1999$</h2>
        </div>

        <div class="picture-item">
            <a href="/product">
              <img src="assets/mapro16.png" alt="Image 2">
            </a>
            <a href="/product" class="picture-name">MacBook Pro 16"</a>
            <h2>2499$</h2>
          </div>
      </div>
      <br>

      <div class="itemname">
        <h2>MACBOOK AIR </h2>
        </div>
        <hr>
        <div class="picture-container">
            <div class="picture-item">
              <a routerLink="/product">
                <img src="assets/maam2.png" alt="Image 1">
              </a>
              <a routerLink="/product" class="picture-name">MacBook Air M2</a>
              <h2>1199$</h2>
            </div>
    
            <div class="picture-item">
              <a href="/product">
                <img src="assets/maam1.png" alt="Image 2">
              </a>
              <a href="/product" class="picture-name">MacBook Air M1</a>
              <h2>999$</h2>
            </div>
        </div>
<br>
        <div class="itemname">
            <h2>IMAC 24" </h2>
            </div>
            <hr>
            <div class="picture-container">
                <div class="picture-item">
                  <a routerLink="/product">
                    <img src="assets/imac.png" alt="Image 1">
                  </a>
                  <a routerLink="/product" class="picture-name">iMac 24' 4.5K</a>
                  <h2>1199$</h2>
                </div>
            </div>