<app-adminheader></app-adminheader>
<div class="itemname">
    <h2>IPHONE 14 PRO MAX</h2>
    </div>
    <hr>
    <div class="picture-container">
        <div class="picture-item">
          <a routerLink="/adminproduct">
            <img src="assets/pimage1.png" alt="Image 1">
          </a>
          <a routerLink="/adminproduct" class="picture-name">Ip14 pro max</a>
          <h2>40.000</h2>
        </div>
        <div class="picture-item">
          <a href="page2.html">
            <img src="assets/pimage2.png" alt="Image 2">
          </a>
          <a href="page2.html" class="picture-name">Ip14 pro</a>
        </div>
        <div class="picture-item">
          <a href="page3.html">
            <img src="assets/pimage3.png" alt="Image 3">
          </a>
          <a href="page3.html" class="picture-name">Ip13 pro max</a>
        </div>
        <div class="picture-item">
          <a href="page4.html">
            <img src="assets/pimage4.png" alt="Image 4">
          </a>
          <a href="page4.html" class="picture-name">Ip13</a>
        </div>
        <div class="picture-item">
          <a href="page5.html">
            <img src="assets/pimage5.png" alt="Image 5">
          </a>
          <a href="page5.html" class="picture-name">Ip11</a>
        </div>
      </div>

      <div class="itemname">
        <h2>IPHONE 14 PRO </h2>
        </div>
        <hr>
        <div class="picture-container">
            <div class="picture-item">
              <a routerLink="/adminproduct">
                <img src="assets/pimage1.png" alt="Image 1">
              </a>
              <a routerLink="/adminproduct" class="picture-name">Ip14 pro max</a>
              <h2>40.000</h2>
            </div>
            <div class="picture-item">
              <a href="page2.html">
                <img src="assets/pimage2.png" alt="Image 2">
              </a>
              <a href="page2.html" class="picture-name">Ip14 pro</a>
            </div>
            <div class="picture-item">
              <a href="page3.html">
                <img src="assets/pimage3.png" alt="Image 3">
              </a>
              <a href="page3.html" class="picture-name">Ip13 pro max</a>
            </div>
            <div class="picture-item">
              <a href="page4.html">
                <img src="assets/pimage4.png" alt="Image 4">
              </a>
              <a href="page4.html" class="picture-name">Ip13</a>
            </div>
            <div class="picture-item">
              <a href="page5.html">
                <img src="assets/pimage5.png" alt="Image 5">
              </a>
              <a href="page5.html" class="picture-name">Ip11</a>
            </div>
          </div>