<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home">
          <a class="text"> Home </a>
        </a>
  
        <a class="navbar-item" routerLink="/contact">
          <a class="text"> Contact </a>
        </a>
  
        <div class="navbar-item link has-dropdown is-hoverable">
          <div class="navbar-item">
            <a class="text"> More <fa-icon [icon]="faAngleDown"></fa-icon></a>
          </div>
          <div class="subnav-content">
            <a href="#company">Iphone</a>
            <a href="#team">Ipad</a>
            <a href="#careers">Macbook</a>
          </div>
      </div>
    </div>
      <div class="navbar-end">
        <div class="navbar-item">
            <a class="user-icon" routerLink="/user">
              <fa-icon [icon]="faUser"></fa-icon>
            </a>
        </div>
        <div class="navbar-item">
          <a class ="cart-icon" routerLink="/shoppingcart">
            <fa-icon [icon]="faCartShopping"></fa-icon>
        </a>
        <span class="number-cart">0</span>
        </div>
      </div>
    </div>
  </nav>