.cart-icon{
  color:white;
  margin-right: 40px;
  position: relative;
}

.user-icon{
  color:white;
  margin-right: 2px;
}

.navbar-start .navbar-item {
  border-right: 1px solid gray; /* Add right border */
}

.subnavbar {
  position: fixed;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  z-index: 1;
}


.navbar-item.has-dropdown:hover .subnavbar {
  display: block;
  position: absolute;
  top: 100%;
  width: 100vw;
  left: 0;
  right: 0;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
}


.subnavbar .row {
  display: flex;
  flex-wrap: wrap;
}

.subnavbar .column {
  flex: 1 1 33.33%;
  padding: 20px;
}

.subnavbar h3 {
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 20px;
  color: #ef0a0a;
}

.subnavbar a {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
}

.subnavbar a:hover {
  text-decoration: underline;
  color: red;
}


.number-cart {
  position: absolute;
  top: 6px;
  right: 25px;
  background-color: red;
  color: white;
  font: sans-serif;
  font-size: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}