<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
        <a class="logo">
          <img src="/assets/pear.png" alt="Logo" >
        </a>
      </div>
        <a class="navbar-item" routerLink="/home">
          <a class="text"> Home </a>
        </a>
  
        <a class="navbar-item" routerLink="/contact">
          <a class="text"> Contact </a>
        </a>
        
          <div class="navbar-item">
            <a class="text"> Item <fa-icon [icon]="faAngleDown"></fa-icon></a>
          <div class="subnav-content">
            <a routerLink="/category">iPhone</a>
            <a routerLink="/ipadcategory">iPad</a>
            <a routerLink="/maccategory">Macbook</a>
          </div>
          </div>
    </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a class ="cart-icon" routerLink="/shoppingcart">
            <fa-icon [icon]="faCartShopping"></fa-icon>
        </a>
        </div>
      <div class="navbar-item">
        <a class ="logout-icon" routerLink="/login">
          <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
      </a>
      </div>
      </div>
    </div>
  </nav>