<app-adminheader></app-adminheader>

<section class="customer-list">
    <div class="container">
      <div class="CusorPro">
        <h4 routerLink="/customerlist" class="clink">Customer</h4>
      </div>
      <div class="list">
        <table>
            <tr class="head-row">
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Street Num</th>
                <th>Street Name</th>
                <th>Ward</th>
                <th>District</th>
                <th>City</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Minh Nhật</td>
                <td>Mn</td>
                <td>mn123@gmail.com</td>
                <td>102</td>
                <td>Street</td>
                <td>1</td>
                <td>1</td>
                <td>Hồ Chí Minh</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Golden</td>
                <td>gold</td>
                <td>golden@gmail.com</td>
                <td>123</td>
                <td>Street</td>
                <td>1</td>
                <td>1</td>
                <td>Hồ Chí Minh</td>
              </tr>
        </table>
    </div>
  </div>
</section>