<app-adminheader></app-adminheader>

<section class="customer-list">
  <div class="container">
    <div class="CusorPro">
      <h4 routerLink="/customerlist" class="clink">Customer</h4>
    </div>
    <div class="list">
      <table>
        <tr class="head-row">
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>A. Number</th>
          <th>Street Name</th>
          <th>Ward</th>
          <th>District</th>
          <th>City</th>
        </tr>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.customerID }}</td>
          <td>{{ customer.fullName }}</td>
          <td>{{ customer.userName }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.address.streetNum }}</td>
          <td>{{ customer.address.streetName }}</td>
          <td>{{ customer.address.ward }}</td>
          <td>{{ customer.address.district }}</td>
          <td>{{ customer.address.city }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>