<app-header></app-header>
<div class="itemname">
    <h2>IPHONE 14 SERIES</h2>
    </div>
    <hr>
    <div class="picture-container">
        <div class="picture-item">
          <a routerLink="/product">
            <img src="assets/pimage1.png" alt="Image 1">
          </a>
          <a routerLink="/product" class="picture-name">iPhone 14 Pro Max</a>
          <h2>1.099$</h2>
        </div>

        <div class="picture-item">
          <a routerLink="/product">
            <img src="assets/pimage2.png" alt="Image 2">
          </a>
          <a routerLink="/product" class="picture-name">iPhone 14 Pro</a>
          <h2>999$</h2>
        </div>

        <div class="picture-item14">
          <a routerLink="/product">
            <img src="assets/ip14.jpg" alt="Image 3">
          </a>
          <a routerLink="/product" class="picture-name14">iPhone 14 Plus</a>
          <h2>899$</h2>
        </div>

        <div class="picture-item14">
          <a routerLink="/product">
            <img src="assets/ip14.jpg" alt="Image 4">
          </a>
          <a routerLink="/product" class="picture-name14">iPhone 14 </a>
          <h2>799$</h2>
        </div>
      </div>
      <br>
      <div class="itemname">
        <h2>IPHONE 13 SERIES </h2>
        </div>
        <hr>
        <div class="picture-container">
            <div class="picture-item">
              <a routerLink="/product">
                <img src="assets/pimage3.png" alt="Image 1">
              </a>
              <a routerLink="/product" class="picture-name">iPhone 13 Pro Max</a>
              <h2>999$</h2>
            </div>

            <div class="picture-item">
              <a routerLink="/product">
                <img src="assets/pimage3.png" alt="Image 2">
              </a>
              <a routerLink="/product" class="picture-name">iPhone 13 Pro</a>
              <h2>899$</h2>
            </div>
            <div class="picture-item">
              <a routerLink="/product">
                <img src="assets/ip13.png" alt="Image 3">
              </a>
              <a routerLink="/product" class="picture-name">iPhone 13</a>
              <h2>699$</h2>
            </div>

            <div class="picture-item">
              <a routerLink="/product">
                <img src="assets/ip13.png" alt="Image 4">
              </a>
              <a routerLink="/product" class="picture-name">iPhone 13 Mini</a>
              <h2>599$</h2>
            </div>
          </div>
<br>
          <div class="itemname">
            <h2>IPHONE 12 SERIES </h2>
            </div>
            <hr>
            <div class="picture-container">
                <div class="picture-item12p">
                  <a routerLink="/product">
                    <img src="assets/ip12p.png" alt="Image 1">
                  </a>
                  <a routerLink="/product" class="picture-name12p">iPhone 12 Pro Max</a>
                  <h2>799$</h2>
                </div>

                <div class="picture-item12p">
                  <a routerLink="/product">
                    <img src="assets/ip12p.png" alt="Image 2">
                  </a>
                  <a routerLink="/product" class="picture-name12p">iPhone 12 Pro</a>
                  <h2>699$</h2>
                </div>

                <div class="picture-item12">
                  <a routerLink="/product">
                    <img src="assets/iphone12.png" alt="Image 3">
                  </a>
                  <a routerLink="/product" class="picture-name12">iPhone 12</a>
                  <h2>599$</h2>
                </div>

                <div class="picture-item12">
                  <a routerLink="/product">
                    <img src="assets/iphone12.png" alt="Image 4">
                  </a>
                  <a routerLink="/product" class="picture-name12">iPhone 12 Mini</a>
                  <h2>499$</h2>
                </div>
              </div>
              
              <app-footer></app-footer>