<app-adminheader></app-adminheader>

<div class="container">
  <div class="center">
    <h2 class="titles">Admin Information</h2>
  </div>
  <table class="">
    <tr>
      <td>
        <div class="user-info-item">
          <label>Username:</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="user-info-item">
          <label>Email:</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="user-info-item">
          <label>Phone:</label>
      </div>
      </td>
    </tr>
  </table>
</div>

<div class="lbutton">
  <button class="logout-button" routerLink="/login">LOGOUT</button>
</div>
