<app-adminheader></app-adminheader>

<div class="container">
  <table class="">
    <tr>
      <div class="center">
        <h2 class="titles">Thông tin Admin</h2>
      </div>
    </tr>
    <tr>
      <td>
        <div>
          <div>
            <label>Username:</label>
            <span></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <div>
            <label>Email:</label>
            <span></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <div>
            <label>Phone:</label>
            <span></span>
          </div>
        </div>
      </td>
    </tr>

    <div class="lbutton">
      <button class="logout-button" routerLink="/login">Logout</button>
    </div>

  </table>
</div>
