
<section class="hero is-info">
    <div class="hero-body">
      <p class="title">
        Welcome to our web page!
      </p>
      <p class="subtitle">
        Please login
      </p>
    </div>
  </section>
  
  <section class ="login-form">
  <div class="container">
                  <label for="username"><b>Username:</b></label><br>
                    <input type="text" placeholder="Enter Your Username" name="username" ><br>
                  <label for="password"><b>Password:</b></label><br>
                    <input type="password" placeholder="Enter Your Password" name="password" ><br>
                  <div class="login-button">
                    <button class ="lbutton" routerLink="/home">Login</button>
                  </div>
                  <div class="signup-section">
                      <span class="signup-text">Haven't signed up yet?</span>
                       <a routerLink="/signup">Sign Up</a>
                  </div>
  </div>
  </section>
 