<app-header></app-header>
<div class="container">
    <h1>Contact Us</h1>
    <p>Please fill out the form below to get in touch with us.</p>
    
    <form>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>
      </div>
      
      <button type="submit">Send Message</button>
    </form>
<div class="social">
    <h1>Or</h1>
    <div class="icon">
    <a ><i class="fab fa-facebook" aria-hidden="true"></i></a>
    <a ><i class="fab fa-instagram" aria-hidden="true"></i></a>
    <a ><i class="fab fa-google-plus" aria-hidden="true"></i></a>
 </div>
</div>
  </div>
  <app-footer></app-footer>