.banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner .image-container {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  height: 500px; 
  width: 100%;
  align-items: center;
  justify-content: center;
}

.banner img {
  width: 100vw;
  height: 100%;
}