.vieworder-icon{
    color:white;
    margin-right: 2px;
  }
  
  .user-icon{
    color:white;
    margin-right: 2px;
  }
  
  .plus-icon{
    color:white;
    margin-right: 20px;
  }

  .list-icon{
    color:white;
    margin-right: 2px;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
  }
  
  .navbar-item{
      margin-top: 5px;
      position: relative;
      display: inline-block;
  }
  
  .subnav-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .subnav-content a:hover {
    background-color: #ddd;
    text-decoration: underline;
    color: red;
  }
  
  .navbar-item:hover .subnav-content 
  {display: block;}
  
  .number-cart {
    position: absolute;
    top: 6px;
    right: 0px;
    background-color: red;
    color: white;
    font: sans-serif;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vieworder-icon:hover{
    color: red;
  }

  .user-icon:hover{
    color: red;
  }

  .list-icon:hover{
    color: red;
  }

  .plus-icon:hover{
    color: red;
  }

  .text{
    color: white;
  }

  .text:hover{
    color: red;
  }

  .logo {
    margin-right: 15px;
    background-color: black;
    display: inline-block; /* Adjust as needed */
  }
  
  .logo img {
    display: block;
  }