.vieworder-icon{
    color:white;
    margin-right: 2px;
  }
  
  .user-icon{
    color:white;
    margin-right: 2px;
  }
  
  .plus-icon{
    color:white;
    margin-right: 20px;
  }

  .list-icon{
    color:white;
    margin-right: 2px;
  }
  .navbar-start .navbar-item {
    border-right: 1px solid gray; /* Add right border */
  }
  
  .subnavbar {
    position: fixed;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    z-index: 1;
  }
  
  
  .subnav-content {
    position: fixed;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    z-index: 1;
    border: 1px solid black;
  }
  
  
  .navbar-item.has-dropdown:hover .subnav-content {
    display: block;
    position: absolute;
    width: fit-content;
    background-color: #e6e6e6;
    z-index: 1;
    padding: 20px;
    
  }
  
  .subnav-content a {
    display: block;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    text-decoration: underline;
    color: red;
  }
  
  .number-cart {
    position: absolute;
    top: 6px;
    right: 0px;
    background-color: red;
    color: white;
    font: sans-serif;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vieworder-icon:hover{
    color: red;
  }

  .user-icon:hover{
    color: red;
  }

  .list-icon:hover{
    color: red;
  }

  .plus-icon:hover{
    color: red;
  }

  .text{
    color: white;
  }

  .text:hover{
    color: red;
  }
