.signup-form {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box
}

input[type=text],
input[type=password],
input[type=int],
input[type=email]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup-form .container {
  margin-top: 20px;
  padding:20px 60px 60px 60px;
  border: 1px solid #ccc;
  width: 700px;
  height: fit-content;
  margin-bottom: 50px;
}

button:hover {
  color: white;
  background-color: rgba(5, 110, 134, 0.971);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-align: center;
}

.signup-button {
  padding: 12px 28px;
  position: relative;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  background-color: #f9bb01;
  border: 0;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  outline: none;
  border-radius: 4px;
  text-transform: uppercase;
}


.error-message {
  color: red; 
}


.login-text{
margin-right: 10px;
}

.LogorSign {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.slink{
  color: #121111;
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.llink {
  color: #b3b3b3;
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.llink:hover {
  color: black; /* Add desired hover color */
}

.vertical-slash {
  width: 2px;
  height: 45px;
  background-color: #737373;
  margin: 0 10px;
}