.signup-form {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
}

* {
  box-sizing: border-box
}

input[type=text],
input[type=password],
input[type=int] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup-form .container {
  margin-top: 5px;
  padding: 60px;
}

button:hover {
  color: white;
  box-shadow: 0 0 7px rgba(41, 217, 240, 0.873);
  background-color: rgba(29, 160, 189, 0.971);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-left: 450px;

  align-items: center;
  display: flex;
  text-align: center;
}

.signup-button {
  flex-basis: 50%;
}

.cancel-button {
  flex-basis: 50%;
}
