.container{
    margin: 20px;
    width: 100vw;
    display: flex;
}
h1{ 
    color: black;
    font-weight: 450;
    margin-top: 30px;
    font-size: 30px;
}
.box {
    border: 1px solid black;
    width: 600px;
    padding: 10px;
  }
  
.img-border{
    width: fit-content;
}

.information{
    color: red;
    font-size: 30px;
    font-family: sans-serif;
    margin-left:160px ;
}

.color{
    margin-top: 30px;
}

.bcolor{
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
}

.bcolor:hover {
    background-color: #ffad33;
    border-color: transparent;
  }

.bcolor.active {
    background-color: #ffad33;
  }

.addcart{
    margin-top: 100px;
}

.add{
    color: white;
    background-color: #ffa31a;
    padding: 20px 100px;
    font-family: sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.add:hover{
    color: #ffa31a;
    background-color: white;
    border: solid #ffa31a;
}