<app-header></app-header>
<div class="itemname">
    <h2>IPAD PRO</h2>
    </div>
    <hr>
    <div class="picture-container">
        <div class="picture-item">
          <a routerLink="/product">
            <img src="assets/ipadpro.png" alt="Image 1">
          </a>
          <a routerLink="/product" class="picture-name">iPad Pro M2 11"</a>
          <h2>799$</h2>
        </div>

        <div class="picture-item">
          <a href="/product">
            <img src="assets/ipadpro.png" alt="Image 2">
          </a>
          <a href="/product" class="picture-name">iPad Pro M2 12.9"</a>
          <h2>1099$</h2>
        </div>

        <div class="picture-item">
            <a href="/product">
              <img src="assets/ipadprom1.png" alt="Image 2">
            </a>
            <a href="/product" class="picture-name">iPad Pro M1 11"</a>
            <h2>699$</h2>
          </div>

          <div class="picture-item">
            <a href="/product">
              <img src="assets/ipadprom1.png" alt="Image 2">
            </a>
            <a href="/product" class="picture-name">iPad Pro M1 12.9"</a>
            <h2>899$</h2>
          </div>
      </div>
<br>
      <div class="itemname">
        <h2>IPAD AIR</h2>
        </div>
        <hr>
        <div class="picture-container">
            <div class="picture-item">
              <a routerLink="/product">
                <img src="assets/ipa5.png" alt="Image 1">
              </a>
              <a routerLink="/product" class="picture-name">iPad Air 5</a>
              <h2>599$</h2>
            </div>
    
            <div class="picture-item">
              <a href="/product">
                <img src="assets/ipa4.png" alt="Image 2">
              </a>
              <a href="/product" class="picture-name">iPad Air 4</a>
              <h2>449$</h2>
            </div>
          </div>
          <br>
      <div class="itemname">
        <h2>IPAD SERIES</h2>
        </div>
        <hr>
        <div class="picture-container">
            <div class="picture-item">
              <a routerLink="/product">
                <img src="assets/ipag10.png" alt="Image 1">
              </a>
              <a routerLink="/product" class="picture-name">iPad Gen 10</a>
              <h2>449$</h2>
            </div>
    
            <div class="picture-item">
              <a href="/product">
                <img src="assets/ipag9.png" alt="Image 2">
              </a>
              <a href="/product" class="picture-name">iPad Gen 9</a>
              <h2>299$</h2>
            </div>
          </div>