.cart-icon{
    color:white;
    margin-right: 10px;
  }
  
  .navbar-start .navbar-item {
    border-left: 1px solid gray; /* Add left border */
    border-right: 1px solid gray; /* Add right border */
  }
  
  .navbar-dropdown .navbar-item {
    border-left: 1px solid white; /* Add left border */
    border-right: 1px solid white; /* Add right border */
    border-bottom: 1px solid gray; /* Add right border */
  }