<app-header></app-header>
<!--body-->
<!-- hiển thị thông tin khách hàng -->
<div class="container">
    <div class="center">
      <h2 class="titles">User Information</h2>
    </div>
  <table class="">
    <tr>
      <td>
          <div class="user-info-item">
            <label>Username:</label>
          </div>
      </td>
    </tr>
    <tr>
      <td>
          <div class="user-info-item">
            <label>Fullname:</label>
          </div>
      </td>
    </tr>
    <tr>
      <td>
          <div class="user-info-item">
            <label>Email:</label>
          </div>
      </td>
    </tr>
    <tr>
      <td>
          <div class="user-info-item">
            <label>Phone:</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
          <div class="user-info-item">
            <label>Address:</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
          <div class="user-info-item">
            <label>Payment method:</label>
          </div>
      </td>
    </tr>
  </table>
</div>

<div class="lbutton">
  <button class="logout-button" (click)="logout()">Logout</button>
</div>