<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home">
          Home
        </a>

        <a class="navbar-item" routerLink="/contact">
          Contact
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Carte
            </a>
            <a class="navbar-item">
              Carte
            </a>
            <a class="navbar-item">
              Carte
            </a>
            <a class="navbar-item">
              Carte
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class ="cart-icon" routerLink="/category">
            <fa-icon [icon]="faCartShopping"></fa-icon>
        </a>
        </div>
      </div>
    </div>
  </nav>
  <!--body-->
<p>user works!</p>
hiển thị thông tin khách hàng
<div class="logout-button">
    <button class ="lbutton" (click)="logout()">Logout</button>
</div>
