<app-adminheader></app-adminheader>
<section class="order-list">
    <div class="container">
      <div class="Order">
        <h4 class="btn" >Order</h4>
      </div>
      <div class="list">
        <table>
            <tr class="head-row">
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Cart ID</th>
                <th>Date</th>
                <th>Price</th>
                <th></th>
              </tr>
              <tr>
                <td>1</td>
                <td>3</td>
                <td>1</td>
                <td>20/5/2023</td>
                <td>2.000$</td>
                <td><a href="#" class="delete-link">Apply</a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>5</td>
                <td>4</td>
                <td>23/5/2023</td>
                <td>3.000$</td>
                <td><a href="#" class="delete-link">Apply</a></td>
              </tr>
        </table>
      </div>
    </div>
</section>

