<app-adminheader></app-adminheader>
<section class="product-list">
  <div class="container">
    <div class="CusorPro">
      <h4 routerLink="/productlist" class="plink">Product</h4>
    </div>
    <div class="list">
      <table>
        <tr class="head-row">
          <th>ProductID</th>
          <th>Name</th>
          <th>Category Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Delete Product</th>
        </tr>
        <tr *ngFor="let product of products">
          <td>{{ product.productID }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.category.categoryName }}</td>
          <td>{{ product.quantityInStock }}</td>
          <td>{{ product.price }}</td>
          <td><a class="delete-link" (click)="deleteProduct(product.productID)">Delete</a></td>
        </tr>
      </table>
    </div>
  </div>
</section>
