<app-header></app-header>
<app-banner></app-banner>
<div class="hr-container">
  <hr class="custom-hr">
  <span class="slogan">🔥FEATURING🔥</span>
  <hr class="custom-hr">
</div>
<div class="itemname">
  <h2>TOP 5 NEWEST</h2>
  <hr>
  <div class="picture-container">
    <div class="picture-item" *ngFor="let product of products">
      <a [routerLink]="'/product/' + product.productID">
        <img [src]="product.productImgURL" [alt]="product.productName">
      </a>
      <a [routerLink]="'/product/' + product.productID" class="picture-name">{{ product.productName }}</a>
      <h2>{{ product.price }}</h2>
    </div>
  </div>

  <div class="itemname">
    <h2>iPad</h2>
  </div>
  <hr>
  <div class="picture-container">
    <div class="picture-item" *ngFor="let product of ipadProducts">
      <a [routerLink]="'/product/' + product.productID">
        <img [src]="product.productImgURL" [alt]="product.productName">
      </a>
      <a [routerLink]="'/product/' + product.productID" class="picture-name">{{ product.productName }}</a>
      <h2>{{ product.price }}</h2>
    </div>
  </div>


  <div class="itemname">
    <h2> iPhone </h2>
  </div>
  <hr>
  <div class="picture-container">
    <div class="picture-item" *ngFor="let product of iphoneProducts">
      <a [routerLink]="'/product/' + product.productID">
        <img [src]="product.productImgURL" [alt]="product.productName">
      </a>
      <a [routerLink]="'/product/' + product.productID" class="picture-name">{{ product.productName }}</a>
      <h2>{{ product.price }}</h2>
    </div>
  </div>

  <div class="itemname">
    <h2> MacBook </h2>
  </div>
  <hr>
  <div class="picture-container">
    <div class="picture-item" *ngFor="let product of macProducts">
      <a [routerLink]="'/product/' + product.productID">
        <img [src]="product.productImgURL" [alt]="product.productName">
      </a>
      <a [routerLink]="'/product/' + product.productID" class="picture-name">{{ product.productName }}</a>
      <h2>{{ product.price }}</h2>
    </div>
  </div>
