<app-header></app-header>
<app-banner></app-banner>
<div class="hr-container">
    <hr class="custom-hr">
    <span class="slogan">🔥OUR HOT ITEMS🔥</span>
    <hr class="custom-hr">
  </div>
  <div class="itemname">
<h2>IPHONE</h2>
<div class="picture-container">
  <div class="picture-item" *ngFor="let product of products">
    <a [routerLink]="'/product/' + product.productID">
      <img [src]="product.productImgURL" [alt]="product.productName">
    </a>
    <a [routerLink]="'/product/' + product.productID" class="picture-name">{{ product.productName }}</a>
    <h2>{{ product.price }}</h2>
  </div>
</div>

  <div class="itemname">
    <h2>IPAD</h2>
    </div>
